@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f6;
  transition: background-color 0.5s ease;
}

.faq-section {
  max-width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  animation: zoomIn 0.7s ease;
}

.faq-section:hover {
  transform: scale(1.02);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .faq-section header {
    padding: 18px;
  }

  .faq-section header > p {
    font-size: 10px;
  }

  .faq-section h2 {
    font-size: 22px;
  }

  .faq-section summary {
    font-size: 10px;
  }

  .faq-section h4 {
    padding: 6px 12px;
  }

  .faq-section details > p {
    font-size: 9px;
    padding: 0 15px 10px;
  }
}

@media (max-width: 800px) {
  .faq-section {
    max-width: 95%;
    max-height: fit-content;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  }

  .faq-section:hover {
    transform: none;
  }
}

.faq-section summary {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.faq-section summary:hover {
  background-color: #f0f0f0;
}

.faq-section:hover summary {
  font-size: 17px;
}

.faq-section header {
  padding: 40px;
  background: linear-gradient(135deg, #0848a0 0%, #336fa3 50%, #147d9d 100%);
  background-size: 200% 200%;
  animation: Gradient 3s ease infinite;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  color: #fff;
  border-radius: 10px;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.faq-section header > p {
  font-size: 20px;
  opacity: 0.9;
  transition: font-size 0.5s ease;
}

.faq-section:hover header > p {
  font-size: 19px;
}

.faq-section h2 {
  font-size: 38px;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: font-size 0.5s ease;
}

.faq-section:hover h2 {
  font-size: 40px;
}

details {
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  transition: padding 0.5s ease;
}

details[open] {
  padding: 20px 0;
}

summary:focus-visible {
  outline: 2px solid orange;
  outline-offset: 8px;
  border-radius: 4px;
}

.faq-section h4 {
  color: #333;
  margin: 0;
  padding: 15px 25px;
  transition: padding 0.5s ease;
}

.faq-section:hover h4 {
  padding: 18px 28px;
}

.faq-section summary {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: font-size 0.5s ease;
}

.faq-section:hover summary {
  font-size: 20px;
}

summary::marker {
  display: none;
}

span {
  color: #333;
  transition: transform 0.5s ease;
}

details[open] span {
  transform: rotate(180deg);
}

.faq-section details > p {
  color: #666;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0.1px;
  padding: 0 25px 15px;
  margin: 0;
  transition: font-size 0.5s ease, padding 0.5s ease;
}

.faq-section:hover details > p {
  font-size: 18px;
  padding: 8px 28px 23px;
}

hr {
  display: none;
}
