body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.form-container {
  margin: auto;
  opacity: 0.85;
  background-image: linear-gradient(rgb(19, 200, 210), white 50%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: fixed;
  border-radius: 8px;
  text-align: center;
  width: 65%;
  height: 70%;
  overflow-y: auto;
  /* Enable vertical scrolling */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Media query for devices with width less than or equal to 600px */
@media only screen and (max-width: 600px) {
  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 3px;
  }
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.result {
  font-size: 18px;
  font-weight: bold;
  margin: 30px;
  color: brown;
}

.number-center {
  text-align: center;
  color: brown;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

body {
  background-image: url("/static/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
