/* This is the css file for the settings page */
.settingscontainer {
  background: #fff;
  box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
}

.settingslogo {
  float: right;
  margin-right: 12px;
  margin-top: 12px;
  font-family: "Nunito Sans", sans-serif;
  color: #3dbb3d;
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.settingsleftbox {
  background: #7ed386;
  box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
}

.nav .a {
  list-style: none;
  padding: 35px;
  color: #fff;
  font-size: 1.1em;
  display: block;
  transition: all 0.3s ease-in-out;
}

.nav .a:hover {
  color: #3fb6a8;
  transform: scale(1.2);
  cursor: pointer;
}

.nav .a:first-child {
  margin-top: 7px;
}

.settingsactive {
  color: #3fb6a8;
}

.settingsrightbox {
  height: 100%;
}

.settingsprofile {
  width: 100%;
}

.heading {
  font-family: "Montserrat", sans-serif;
  color: #7ed386;
  font-size: 4.8em;
  margin-top: 20px;
  margin-bottom: 30px;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.value {
  color: #777;
  font-family: "Roboto", sans-serif;
  width: 80%;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1px;
  margin: 0.5em auto 0.1em 0em;
}

.para {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #3fb6a8, rgba(126, 211, 134, 0.5)) 1
    0%;
  border-top: 5px;
  margin-left: 5px;
  margin-top: 5px;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  padding: 0.7em 1em;
  color: #070707;
}

.settingsbtn {
  float: right;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  border: none;
  color: #3fb6a8;
}

.settingsbtn:hover {
  text-decoration: underline;
  font-weight: 900;
}

.settingsprofile {
  width: 100%;
  margin-right: 100px;
}

.contentbox {
  display: flex;
  margin-left: 40px;
}

#settingform {
  justify-content: center;
  margin: 0px -50px;
  width: 100em;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

#formSubmitBtn {
  width: 103px;
  height: 40px;
  border-radius: 5px;
  transition-duration: 0.4s;
  background-color: green;
  margin: 20px 450px;
  border: none;
  color: white;
}

#formSubmitBtn:hover {
  background-color: #04aa6d; /* Green */
}

@media screen and (max-width: 768px) {
  #formSubmitBtn {
    margin: 5px 100px;
  }

  #settingform {
    justify-content: center;
    margin: 0px -46px;
  }

  .heading {
    font-family: "Montserrat", sans-serif;
    color: #7ed386;
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .para {
    margin-left: -5px;
  }
}
