{% extends 'dashboard.html' %}

{% block content %}

<div class="main--container">
  <div class="section--title">

    <html lang="en">

    <head>
      <link rel="stylesheet" href="/static/productContainer.css">


      <style>
        .carousel-item {
          position: relative;
          /* make the .carousel-item a positioning context for its children */
          overflow: hidden;
          /* hide anything that goes outside the .carousel-item */
        }

        .carousel-item__img {
          width: 100%;
          /* make the image take the full width of its parent .carousel-item */
          height: auto;
          /* maintain the aspect ratio of the image */
          object-fit: cover;
          /* scale the image to cover the .carousel-item, while maintaining its aspect ratio */
        }
      </style>
    </head>


    <body>
      <div class="background-texture"></div>


      <section class="carousel">
        <div class="card">
          <div class="card-header">
            <h2 class="categories__title">Recommended Products</h2>
          </div>
        </div>
        <div class="card">
          <div class="carousel__container product-grid">
            <div class="carousel-item irow1">
              <img class="carousel-item__img"
                src="https://m.media-amazon.com/images/I/81C6f1y5ufL._AC_UL480_FMwebp_QL65_.jpg" alt="people" />
              <div class="carousel-item__details">
                <div class="controls">
                  <span class="fas fa-play-circle"></span>
                  <span class="fas fa-plus-circle"></span>
                </div>
                <h5 class="carousel-item__details--title">Dr. Gluten Multigrain Platinum Chapati Flour,</h5>

              </div>
            </div>
            <div class="carousel-item irow2">
              <img class="carousel-item__img"
                src="https://m.media-amazon.com/images/I/71T3ld09IvL._AC_UL480_FMwebp_QL65_.jpg" alt="people" />
              <div class="carousel-item__details">
                <div class="controls">
                  <span class="fas fa-play-circle"></span>
                  <span class="fas fa-plus-circle"></span>
                </div>
                <h5 class="carousel-item__details--title">Wheafree Gluten Free Porridge/Dalia (Pack of 2-500gm each)
                </h5>

              </div>
            </div>
            <div class="carousel-item irow3">
              <img class="carousel-item__img"
                src="https://m.media-amazon.com/images/I/81xLmva8ezL._AC_UL480_FMwebp_QL65_.jpg" alt="people" />
              <div class="carousel-item__details">
                <div class="controls">
                  <span class="fas fa-play-circle"></span>
                  <span class="fas fa-plus-circle"></span>
                </div>
                <h5 class="carousel-item__details--title">
                  Fidalgo's Gluten Free Multigrain Coconut Cookies 200g</h5>

              </div>
            </div>
            <div class="carousel-item irow1">
              <img class="carousel-item__img"
                src="https://m.media-amazon.com/images/I/61Ng7ZFW4gL._AC_UL480_FMwebp_QL65_.jpg" alt="people" />
              <div class="carousel-item__details">
                <div class="controls">
                  <span class="fas fa-play-circle"></span>
                  <span class="fas fa-plus-circle"></span>
                </div>
                <h5 class="carousel-item__details--title">Wheafree Gluten Free Cookies Combo</h5>

              </div>
            </div>
            <div class="carousel-item irow2">
              <img class="carousel-item__img"
                src="https://m.media-amazon.com/images/I/611yaAFR+-L._AC_UL480_FMwebp_QL65_.jpg" alt="people" />
              <div class="carousel-item__details">
                <div class="controls">
                  <span class="fas fa-play-circle"></span>
                  <span class="fas fa-plus-circle"></span>
                </div>
                <h5 class="carousel-item__details--title">Descriptive Title</h5>
                <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
              </div>
            </div>
            <div class="carousel-item irow3">
              <img class="carousel-item__img" src="https://m.media-amazon.com/images/I/71Y7LG3A8JS._SL1080_.jpg"
                alt="people" />
              <div class="carousel-item__details">
                <div class="controls">
                  <span class="fas fa-play-circle"></span>
                  <span class="fas fa-plus-circle"></span>
                </div>
                <h5 class="carousel-item__details--title">TruVitals Healthy Pasta - NO Maida, Gluten Free, Made With
                  Brown Rice, Chana Dal & Peas, HIgh Protein & Fibre Multigrain
                  Pasta, Fusilli, 400 g</h5>
                <!-- <h6 class="carousel-item__details--subtitle">Date and Duration</h6> -->
              </div>
            </div>
            <div class="carousel-item irow1">
              <img class="carousel-item__img"
                src="https://m.media-amazon.com/images/I/512XyqTWNGL._AC_UL480_FMwebp_QL65_.jpg" alt="people" />
              <div class="carousel-item__details">
                <div class="controls">
                  <span class="fas fa-play-circle"></span>
                  <span class="fas fa-plus-circle"></span>
                </div>
                <h5 class="carousel-item__details--title">Yogabar 100% Rolled Oats 1kg (Buy 1 Get 1 FREE) | Premium
                  Golden, Gluten Free Oats with High Fibre (1 Kg Each)</h5>
                <!-- <h6 class="carousel-item__details--subtitle">Date and Duration</h6> -->
              </div>
            </div>
            <div class="carousel-item irow2">
              <img class="carousel-item__img"
                src="https://m.media-amazon.com/images/I/81gt7e+RulL._AC_UL480_FMwebp_QL65_.jpg" alt="people" />
              <div class="carousel-item__details">
                <div class="controls">
                  <span class="fas fa-play-circle"></span>
                  <span class="fas fa-plus-circle"></span>
                </div>
                <h5 class="carousel-item__details--title">HAIM Organic Crispy Rice Thick Wholegrain Brown Rice Cakes
                  Unsalted (Vegan, All Natural, Gluten Free), 2 X 110 g</h5>
                <!-- <h6 class="carousel-item__details--subtitle">Date and Duration</h6> -->
              </div>
            </div>
            <div class="carousel-item irow3">
              <img class="carousel-item__img"
                src="https://m.media-amazon.com/images/I/71JjoZSmd3L._AC_UL480_FMwebp_QL65_.jpg" alt="people" />
              <div class="carousel-item__details">
                <div class="controls">
                  <span class="fas fa-play-circle"></span>
                  <span class="fas fa-plus-circle"></span>
                </div>
                <h5 class="carousel-item__details--title">Wheafree Gluten Free Bread Mix 1 kg | Neutral Flavour| Quick
                  and Easy to Bake | Sweet and Savoury Preparations | 100%
                  Natural, Vegetarian and Gluten Free</h5>
                <!-- <h6 class="carousel-item__details--subtitle">Date and Duration</h6> -->
              </div>
            </div>


          </div>
        </div>

      </section>


    </body>

  </div>
</div>

{% endblock %}