{% extends 'dashboard.html' %}

{% block content %}

<div class="main--container">
  <div class="section--title">

    <html lang="en">

    <head>
      <link rel="stylesheet" href="/static/productContainer.css">
    </head>

    <body>

      <div class="background-texture"></div>

      <section class="carousel">
        <h2 class="categories__title">Recommended Products</h2>
        <div class="carousel__container">
          <div class="carousel-item">
            <img class="carousel-item__img" src="https://m.media-amazon.com/images/I/61ueZjD-HBL._SL1500_.jpg"
              alt="people" />
            <div class="carousel-item__details">
              <div class="controls">
                <span class="fas fa-play-circle"></span>
                <span class="fas fa-plus-circle"></span>
              </div>
              <h5 class="carousel-item__details--title">Descriptive Title</h5>
              <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
            </div>
          </div>
          <div class="carousel-item">
            <img class="carousel-item__img"
              src="https://m.media-amazon.com/images/I/512Prt2cWgL._SX300_SY300_QL70_FMwebp_.jpg" alt="people" />
            <div class="carousel-item__details">
              <div class="controls">
                <span class="fas fa-play-circle"></span>
                <span class="fas fa-plus-circle"></span>
              </div>
              <h5 class="carousel-item__details--title">Descriptive Title</h5>
              <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
            </div>
          </div>
          <div class="carousel-item">
            <img class="carousel-item__img" src="https://m.media-amazon.com/images/I/61pHDldkkjL._SL1200_.jpg"
              alt="people" />
            <div class="carousel-item__details">
              <div class="controls">
                <span class="fas fa-play-circle"></span>
                <span class="fas fa-plus-circle"></span>
              </div>
              <h5 class="carousel-item__details--title">Descriptive Title</h5>
              <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
            </div>
          </div>
          <div class="carousel-item">
            <img class="carousel-item__img" src="https://m.media-amazon.com/images/I/71Y7LG3A8JS._SL1080_.jpg"
              alt="people" />
            <div class="carousel-item__details">
              <div class="controls">
                <span class="fas fa-play-circle"></span>
                <span class="fas fa-plus-circle"></span>
              </div>
              <h5 class="carousel-item__details--title">Descriptive Title</h5>
              <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
            </div>
          </div>
          <div class="carousel-item">
            <img class="carousel-item__img" src="https://m.media-amazon.com/images/I/718o4VvgBlL._SL1500_.jpg"
              alt="people" />
            <div class="carousel-item__details">
              <div class="controls">
                <span class="fas fa-play-circle"></span>
                <span class="fas fa-plus-circle"></span>
              </div>
              <h5 class="carousel-item__details--title">Descriptive Title</h5>
              <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
            </div>
          </div>
          <div class="carousel-item">
            <img class="carousel-item__img" src="https://m.media-amazon.com/images/I/51Hd7gcTsxL._SL1080_.jpg"
              alt="people" />
            <div class="carousel-item__details">
              <div class="controls">
                <span class="fas fa-play-circle"></span>
                <span class="fas fa-plus-circle"></span>
              </div>
              <h5 class="carousel-item__details--title">Descriptive Title</h5>
              <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
            </div>
          </div>

          <div class="carousel-item">
            <img class="carousel-item__img" src="https://m.media-amazon.com/images/I/718AErfDGfL._SL1500_.jpg 
          />
          <div class=" carousel-item__details">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h5 class="carousel-item__details--title">Descriptive Title</h5>
            <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
          </div>
        </div>
  </div>
  </section>



  </body>

</div>
</div>

{% endblock %}